*{
  padding: 0;
  margin: 0;
  box-sizing: border-box; /*não calcula a dimensão dos elementos somando bordas e margens*/
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;
}

body{
  width: 100%;
  min-height: 100vh;
  background-color: rgb(251, 251, 251);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.instagram-wrapper{
  display: flex; /*transforma o conteúdo em linha*/
  align-items: center;
  justify-content: start;
  width: 60%;
  height: 100vh;
}

.instagram-iphone{
  display: flex; /*transforma o conteúdo em linha*/
  align-items: center;
  justify-content: center;
  width: 50%;
}

.instagram-iphone img{
  height: 600px;
}


.instagram-continue{
  display: flex;
  align-items: center;
  justify-content:space-around;
  flex-direction: column;
  width: 50%;
  min-height: 34rem;
}

.grupo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 100%;
  padding: 1.3rem 0;
  border: 1px solid lightgray;
  margin: 10px;
}

.instagram:nth-child(1){
  min-height: 19rem;
}

.foto-perfil{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  /* padding: 15px; */
  margin:10px 0 12px 0;
}

.foto-perfil img{
  width: 110px;
  height: 110px;
}

.insta-login{
  background-color: rgb(32, 120, 179);
  color: white;
  padding: 8px;
  border-radius: 4px;
}

.insta-sair{
  color: rgb(32, 120, 179);
  margin-top: 1rem;
}

.nao-acessar{
  color:rgb(93, 98, 96);

}

.link-azul{
  color: rgb(32, 120, 179);

}

.app-store{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.3rem 0;
}

.baixar{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}


@media(max-width:1024px){
  .instagram-wrapper{
    width: 90%;
  }
}

@media (max-width:650px){
  body{
    background-color: white;
  }
  .instagram-wrapper{
    width: 90%;
  }
  .instagram-iphone{
    display: none;
  }
  .instagram-continue{
    width: 100%;
  }
  .grupo{
    border: 1px solid transparent;
  }
}